html {
  font-size: 18px;
}

body {
  background-color: black;
}

.site-container {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/*logo banner*/
.logobanner {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
}

.logobanner img {
  height: 1.5rem;
  padding: 0rem 0.5rem;
}

.logobanner h2 {
  padding: 0.66rem 0.5rem;
}
/*Main banner*/
.mainbanner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  color: white;
}

.bannertext {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.bannertext h3 {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.bannertext h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/*Navigation*/
.navigation {
  background-color: firebrick;
}

.navlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navlist span {
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 0.75rem 0rem;
}

/*Product grid*/
.productgrid {
  background-color: white;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 0rem;
}

.product {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product img {
  max-height: 9rem;
  padding: 2rem 0rem;
  max-width: 9rem;
  margin: auto;
}

.product p {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 0.5rem 0rem;
}
/*Location Hours*/
.LH {
  background-color: white;
}

.location, .hours {
  width: 35%;
}

h6 {
  color: white;
  font-family: Helvetica, sans-serif;
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
}

.location p, .hours p {
  padding-bottom: 4rem;
}

#lochour {
  display: flex;
  justify-content: space-between;
}
/*Footer*/
